<% provide :title, t(".title") %>
<h1><%= t ".title" %></h1>
<p>
  <%= t ".ct1" %>
  <%= link_to t(".link"), Settings.settings.help %>.
  <%= t ".ct2" %>
  <%= link_to t("tutorial"), Settings.settings.book %>.
</p>
